@model List<Employee>
    
    <div class="display-3">
        Index 3
    </div>
    
    @foreach(Employee emp in Model){
        <div class="lead">
            <h6>@emp.Id</h6>
            <h6>@emp.FullName</h6>
            <p><strong>AGE:</strong>@emp.Age</p>
            <hr/>

           </div>
       
    }